<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body th:fragment="bodyFooter">
	<!-- Bootstrap core JavaScript
	    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script src="/resources/dist/js/jquery-1.11.1.js"
		th:src="@{/resources/dist/js/jquery-1.11.1.js}"></script>

	<script src="/resources/dist/js/jquery-ui-1.10.4.custom.js"
		th:src="@{/resources/dist/js/jquery-ui-1.10.4.custom.js}"></script>

	<script src="/resources/dist/js/bootstrap.min.js"
		th:src="@{/resources/dist/js/bootstrap-3.1.1.min.js}"></script>
</body>
</html>